# Figure folder
figures/

# Other files and folders
.settings/
__pycache__/
.DS_Store
scripts/.ipynb_checkpoints/
.idea/
operators/__pycache__/
fields/__pycache__/
notebooks/
test/benchmark.py
test/visualisation.py
test/__pycache__/
test/check_polynomials.py
operators/quicc_supplements/__pycache__/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
