# Figure folder
figures/

# Other files and folders
.settings/
src/__pycache__/
.DS_Store
src/scripts/.ipynb_checkpoints/
.idea/
src/.idea/
src/operators/__pycache__/
src/notebooks/

# Data folder
data/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
